######################
# Eclipse
######################
.metadata
*.classpath
*.project
.settings

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids

######################
# Maven
######################
/log/**
target

